:root {
    --half-shadow: rgba(0, 0, 0, 0.5);
    --quarter-shadow: rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.accounts-container {
    height: 12rem;
    padding: 5px;
    overflow-x: scroll;
    overflow-y: hidden;

    display: flex;
    flex-wrap: false;
    align-items: center;

    gap: 0px;

    border: 2px solid var(--quarter-shadow);
    border-radius: 10px;
}

.accounts-header-title {
    position: absolute;
    top: -0.75rem;
    z-index: 5;
}

.account-card {
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 1fr 0.25fr;
    height: 150px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 1px 1px 5px var(--quarter-shadow);
}

.account-card .account-card-header {
    height: 2.5rem;
    padding: 0.5rem;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid var(--quarter-shadow);
}

.account-card-header .account-name {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
}

.account-card .account-type {
    position: absolute;
    top: -5px;
    left: 10px;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
}

.account-card .account-balance-num {
    font-size: 2.5rem;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
}

.negative {
    color: darkred;
}

.account-card .account-end-date {
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
}

.account-card .account-uncategorized-transactions {
    font-size: 1.5rem;
    align-self: flex-end;
    justify-self: center;
    margin: 0 0 1rem 0;
    text-shadow: 1px 1px 2px var(--quarter-shadow);
}

.muted {
    color: var(--half-shadow);
}
